<style> 
  .form-select {
    display: block;
    width: 100%;
    margin: 16px 0px 0px 0px;
    background-color: #f6f6f6;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-between;
  }
  .form-select__input {
    background-color: #f6f6f6;
    height: 48px;
    display: block;
    padding: 12px 13px 13px 16px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Futura BookC regular","Arial","Helvetica",sans-serif;
    margin-right: 16px;
    }
  .form-select__button {
    margin-right: 13px;
    margin-top: 15px;
  }
  .content { 
    text-align: left;
    margin: 10px 0 10% 0;
  }
  .delivery-block-courier {
    border-radius: 10px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 18px;
    font-family: "Futura BookC regular","Arial","Helvetica",sans-serif;
    font-weight: 600;
    padding: 14px 15px 17px 14px;
    margin: 30px 0px 16px;
    wight: 100%;
    display: block;
  }
  .delivery-block-courier__none {
    display: none;
  }
  .delivery-block__container__name {
    display: inline-flex;
    justify-content: start;
    width: 100%;
    font-stretch: normal;
    font-style: normal;
    line-height: 23px;
    letter-spacing: normal;
    height: 24px;
    margin-bottom: 20px;
  }
  .delivery-block__label__name {
    margin-left: 8px;
  }
  .span-shop-delivery-ok{
    margin: 1px 103px 21px 8px;
    font-stretch: normal;
    font-style: normal;
    line-height: 23px;
    letter-spacing: normal;
  }
  .delivery-block__simple, .delivery-block__item__price, .delivery-block__container__express {
    font-size: 18px;
    font-family: "Futura BookC regular","Arial","Helvetica",sans-serif;
    font-weight: 600;
  }
  .delivery-block__simple {
    margin-top: 0px;
  }
  .delivery-block__item__name {
    font-size: 16px;
    color: #1d1d1d;
    font-weight: normal;
  }
  .delivery-block__container__price, .delivery-block__container__express, .delivery-block__container__express2 {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
  }
  .delivery-block__container__price {
    margin-top: -8px;
  }
  .delivery-block__container__express {
    color: #00ac5f;
    margin-top: 14px;
    margin-bottom: 20px;
  }
  .delivery-block__container__express2 {
    color: #00ac5f;
    margin-top: 10px;
    margin-bottom: 3px;
  }
  .delivery-block__container__inform {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    color: #666666;
    border-top: 0.5px solid rgba(29, 29, 29, 0.08);
  }
  .delivery-block__price__inform {
    font-weight: normal;
    font-size: 16px;
    color: #666666;
    border-top: 0.5px solid rgba(29, 29, 29, 0.08);
  }
  .delivery-block__price__inform, .delivery-block__price__minimum {
    padding: 14px 0px 0px 0px;
  }
  .delivery-block-shop  {
    border-radius: 10px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 18px;
    font-family: "Futura BookC regular","Arial","Helvetica",sans-serif;
    font-weight: 600;
    padding: 14px 15px 17px 14px;
    margin: 16px 0px 16px;
    wight: 100%;
    display: block;  
  }
  .delivery-block-shop__none {
    display: none;
  }
  .delivery-block__container__simple1{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 21px;
  }
  .delivery-block__container__simple {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
  }
  .container-simple-3 {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 3px;
  }
  .delivery-block-pickup {
    border-radius: 10px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 18px;
    font-family: "Futura BookC regular","Arial","Helvetica",sans-serif;
    font-weight: 600;
    padding: 14px 15px 17px 14px;
    margin: 0px 0px 16px;
    wight: 100%;
    display: block;    
  }
  .delivery-block-pickup__none {
    display: none;
  }
  .delivery-block-pickpoint {
    border-radius: 10px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 18px;
    font-family: "Futura BookC regular","Arial","Helvetica",sans-serif;
    font-weight: 600;
    padding: 14px 15px 17px 14px;
    margin: 0px 0px 16px;
    wight: 100%;
    display: block;  
  }
  .delivery-block-pickpoint__none {
    display: none;
  }
  .delivery-loader {
    text-align: center;
    margin: 25% 0 25% 0;
  }
  .delivery-loader__none {
    display: none;
  }
  </style>
  
  
  
  
  <form action="" method="GET" class="form-select">
    <input type="text" name="city" class="form-select__input" id="autocomplete">
    <a href="#" class="form-select__button">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
        <g fill="none" fill-rule="evenodd">
            <g fill="#1D1D1D" fill-rule="nonzero">
                <g>
                    <path d="M3.286 10.221c-.382-.371-.38-.973 0-1.343L6.24 6 3.286 3.122c-.38-.37-.382-.972 0-1.343.38-.372.998-.372 1.38 0L9 6l-4.335 4.221c-.381.372-.999.372-1.38 0z" transform="translate(-334 -99) translate(334 99)"/>
                </g>
            </g>
        </g>
      </svg>
    </a>
  </form>
  <div class="delivery-loader">
    <img src="https://g0.sunlight.net/static/shop/images/loader.gif">
  </div>
  <div class="content" id="content">
  </div>
  <div class="delivery-block-courier__none">
    <div class="delivery-block__container__name">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <g fill="none" fill-rule="evenodd">
          <g fill="#1D1D1D" fill-rule="nonzero">
              <g>
                  <path d="M3.04 24C1.915 24 1 23.105 1 22c0-.088.006-.175.018-.262l.022-.13.776-3.804c.672-3.293 3.566-5.685 6.968-5.8l.154-.003c-1.184-.873-1.968-2.238-2.035-3.784L6.898 8V5c0-2.761 2.284-5 5.102-5 2.743 0 4.981 2.122 5.097 4.783l.005.217v3c0 1.55-.72 2.934-1.848 3.851l-.193.15.161.004c3.314.114 6.145 2.39 6.907 5.554l.055.245.776 3.804c.221 1.083-.496 2.137-1.6 2.353-.089.017-.178.029-.267.035L20.96 24H3.04zm6.073-10H9.04c-2.46 0-4.588 1.648-5.171 3.97l-.052.226L3.041 22l3.857-.001V20c0-.448.15-.862.404-1.195.01-.1.028-.197.053-.294l.043-.143.456-1.342c.194-.57.712-.966 1.312-1.02l.14-.006h5.387c.612 0 1.16.356 1.402.898l.05.128.457 1.342c.049.145.08.291.095.437.226.296.37.655.4 1.046l.005.149v1.999l3.857.001-.776-3.804c-.483-2.364-2.55-4.086-4.986-4.19l-.31-.006c-.42 1.165-1.554 2-2.887 2s-2.467-.835-2.887-2zm5.949 6.962c-.087.017-.175.028-.263.034l-.133.004H9.334c-.135 0-.267-.013-.395-.037v1.036h6.122v-1.037zm-.737-2.963H9.673L9.334 19h5.332l-.34-1.001zM13.02 13h-2.04c0 .552.456 1 1.02 1 .523 0 .954-.386 1.013-.883L13.02 13zm-.485-7.522l-.174.095c-.416.212-.901.402-1.455.575l-.341.102c-.612.175-1.153.297-1.627.363V8c0 1.598 1.275 2.904 2.882 2.995l.149.004h.06c1.617-.014 2.934-1.258 3.027-2.823L15.06 8V6.46c-.832-.086-1.647-.397-2.436-.92l-.09-.062zM12 2c-1.545 0-2.822 1.12-3.031 2.578.294-.055.638-.138 1.026-.248.922-.263 1.572-.557 1.94-.853.383-.308.937-.302 1.313.015.608.512 1.19.818 1.756.936C14.732 3.044 13.49 2 12 2z" transform="translate(-30 -173) translate(30 173)"/>
              </g>
          </g>
      </g>
  </svg>
      <div class="delivery-block__label__name">Доставка курьером </div></div>
        <div class="delivery-block__simple"> Обычная </div>
        <div class="delivery-block__container__price">
          <div class="delivery-block__item__name"> Заказ от 990 р.</div>
          <div class="delivery-block__item__price"> Бесплатно </div>
        </div>
        <div class="delivery-block__container__price">
          <div class="delivery-block__item__name">  Заказ до 990 р., предоплата 10% </div>
          <div class="delivery-block__item__price"> 240 р. </div>
         </div>
        <div class="delivery-block__container__express">
          <div class="delivery-block__item__express">  Экспресс </div>
          <div class="delivery-block__item__price"> 500 р. </div>
         </div>
        <div class="delivery-block__container__inform">
          <div class="delivery-block__price__inform"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <g fill="none" fill-rule="evenodd">
          <g stroke="#666" stroke-width="1.75">
              <g>
                  <g>
                      <g transform="translate(-30 -365) translate(30 348) translate(0 17) translate(1 1)">
                          <circle cx="7" cy="7" r="7"/>
                          <path d="M7 11.046V5.508M7 4.28V2.625"/>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
            Минимальный размер заказа </div>
          <div class="delivery-block__price__minimum"> 500 р. </div>
         </div>
  </div>
  <div class="delivery-block-shop__none">
    <div class="delivery-block__container__name">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <g fill="none" fill-rule="evenodd">
          <g fill="#1D1D1D" fill-rule="nonzero">
              <g>
                  <g>
                      <path d="M19.684 1c.514 0 .987.268 1.254.7l.067.122 2.007 4.075c.195.397.193.84.033 1.217l-.001.844c0 .674-.202 1.3-.55 1.822v10.926c0 1.326-1.093 2.374-2.435 2.456l-.17.005H3.85c-1.363 0-2.51-.996-2.6-2.297l-.005-.164v-10.47c-.528-.549-.866-1.28-.912-2.09l-.005-.188v-1.04c-.033-.12-.05-.246-.05-.376 0-.167.029-.333.085-.49L.426 5.9l2-4.075c.227-.463.677-.77 1.183-.817L3.749 1h15.935zM6.368 9.766c-.587.894-1.599 1.484-2.75 1.484-.126 0-.25-.007-.374-.021v9.477c0 .21.203.415.501.454l.103.007 8.395-.001v-6.791c0-.758.58-1.381 1.319-1.452l.14-.006h3.667c.758 0 1.38.578 1.452 1.318l.006.14v6.791h1.063c.318 0 .553-.184.597-.39l.007-.07v-9.54c-.238.055-.487.084-.742.084-1.092 0-2.06-.532-2.659-1.351-.597.819-1.565 1.351-2.657 1.351-1.093 0-2.06-.532-2.66-1.351-.597.819-1.565 1.351-2.657 1.351-1.15 0-2.163-.59-2.751-1.484zm10.459 5.15h-2.584v6.25h2.584v-6.25zm-7.708-2c.758 0 1.38.579 1.452 1.319l.006.14v2.75c0 .758-.578 1.381-1.318 1.452l-.14.006h-2.75c-.758 0-1.381-.578-1.452-1.318l-.006-.14v-2.75c0-.758.578-1.381 1.318-1.452l.14-.006h2.75zm-.542 2H6.91v1.667h1.667v-1.667zM4.908 8H2.33l.005.09c.066.652.616 1.16 1.285 1.16.669 0 1.219-.508 1.285-1.16L4.908 8zm5.5 0H7.83l.005.09c.066.652.616 1.16 1.285 1.16.669 0 1.219-.508 1.285-1.16l.004-.09zm5.317 0h-2.58l.006.09c.066.652.616 1.16 1.285 1.16.668 0 1.218-.508 1.285-1.16l.004-.09zm5.316 0h-2.579l.005.09c.066.652.617 1.16 1.285 1.16.67 0 1.22-.508 1.285-1.16l.004-.09zm-1.686-5H4.076L2.604 6h18.229l-1.478-3z" transform="translate(-30 -428) translate(16 414) translate(14 14)"/>
                  </g>
              </g>
          </g>
      </g>
  </svg>
  <div class="delivery-block__label__name">Доставка до магазина </div>
      </div>
         <div class="delivery-block__container__simple1">
          <div class="delivery-block__item__simple"> Обычная </div>
          <div class="delivery-block__item__price"> 500 р. </div>
         </div>
         <div class="delivery-block__container__express2">
          <div class="delivery-block__item__express">  Экспресс </div>
          <div class="delivery-block__item__price"> 500 р. </div>
         </div>
  </div>
  <div class="delivery-block-pickup__none">
  <div class="delivery-block__container__name">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <g fill="none" fill-rule="evenodd">
          <g fill="#1D1D1D" fill-rule="nonzero">
              <g>
                  <path d="M9.5 0c1.253 0 2.371.576 3.105 1.478.572-.31 1.22-.478 1.895-.478 2.142 0 3.891 1.684 3.995 3.8l.005.2v1H21c.552 0 1 .448 1 1v14c0 1.657-1.343 3-3 3H5c-1.657 0-3-1.343-3-3V7c0-.552.448-1 1-1h2.5V4c0-2.21 1.79-4 4-4zM20 8l-2.293.002c-.067.014-.136.02-.207.02-.07 0-.14-.006-.207-.02L17 8v14h2c.513 0 .936-.386.993-.883L20 21V8zM5.5 8H4v13c0 .513.386.936.883.993L5 22h10V8h-1.5v3c0 .552-.448 1-1 1-.513 0-.936-.386-.993-.883L11.5 11V8h-4v3c0 .552-.448 1-1 1-.513 0-.936-.386-.993-.883L5.5 11V8zm9-5c-.384 0-.75.108-1.062.305.03.163.049.328.057.495l.005.2v2h3V5c0-1.105-.895-2-2-2zm-5-1c-1.054 0-1.918.816-1.995 1.85L7.5 4v2h4V4c0-1.105-.895-2-2-2z" transform="translate(-30 -579) translate(30 579)"/>
              </g>
          </g>
      </g>
  </svg>
    <div class="delivery-block__label__name">Самовывоз из магазина </div>
    </div>
          <div class="delivery-block__container__simple">
           <div class="delivery-block__item__simple"> Всегда </div>
           <div class="delivery-block__item__price"> 0 р. </div>
          </div>
           <div class="delivery-block__container__inform">
          <div class="delivery-block__price__inform"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <g fill="none" fill-rule="evenodd">
          <g stroke="#666" stroke-width="1.75">
              <g>
                  <g>
                      <g transform="translate(-30 -365) translate(30 348) translate(0 17) translate(1 1)">
                          <circle cx="7" cy="7" r="7"/>
                          <path d="M7 11.046V5.508M7 4.28V2.625"/>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
            Минимальный размер заказа </div>
          <div class="delivery-block__price__minimum"> 500 р. </div>
         </div>  
  </div>
  <div class="delivery-block-pickpoint__none">
  <div class="delivery-block__container__name">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <g fill="none" fill-rule="evenodd">
          <g fill="#1D1D1D" fill-rule="nonzero">
              <g>
                  <path d="M19 2c1.657 0 3 1.343 3 3v14c0 1.657-1.343 3-3 3H5c-1.657 0-3-1.343-3-3V5c0-1.657 1.343-3 3-3h14zM9 4H5c-.513 0-.936.386-.993.883L4 5v14c0 .513.386.936.883.993L5 20h14c.513 0 .936-.386.993-.883L20 19V5c0-.513-.386-.936-.883-.993L19 4h-4v6L9 9V4zm4 12v2H6v-2h7zm-3-3.5v2H6v-2h4zM13 4h-2v3.306l2 .333V4z" transform="translate(-30 -746) translate(30 746)"/>
              </g>
          </g>
      </g>
  </svg>  
      <div class="delivery-block__label__name">Доставка до постомата или пункта <br> выдачи: </div>
  </div>
         <div class="container-simple-3">
          <div class="delivery-block__item__simple"> Всегда </div>
          <div class="delivery-block__item__price"> 0 р. </div>
         </div>
  </div>
  <script>
  let formSelectButton = document.querySelector(".form-select__button")
  let deliveryBlockCourier = document.querySelector(".delivery-block-courier__none")
  let deliveryLoader = document.querySelector(".delivery-loader")
  let deliveryBlockShop = document.querySelector(".delivery-block-shop__none")
  let deliveryBlockPickup = document.querySelector(".delivery-block-pickup__none")
  let deliveryBlockPickpoint = document.querySelector(".delivery-block-pickpoint__none")
  
  
  
  $.getJSON('https://api.odas.sunlight.team/v3/cities/delivery/pricing/?fias_id=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&callback=jQuery22308938424636707305_1613582407744&_=1613629369149&callback=jQuery22308127792471375557_1613629369148', function(data){
  let htmlp = [];
  
    
  data.content.forEach((val) =>{ 
  let htmla = [];
    htmla += '<div class="delivery-block-courier">'+' <div class="delivery-block__container__name">' + '<img src="'+ val.icon + '"/>'+ '<div class="delivery-block__label__name">' + val.name + '</div>' + '</div>';
  val.blocks.forEach((el) => {
  if (el.style == "strong"){
    htmla += '<div class="delivery-block__container__simple">' + el.name + '<div class="delivery-block__item__price">'+ el.price +'</div>' +'</div>';
    } else if (el.style == "prior"){
    htmla += '<div class="delivery-block__container__express">' + el.name + '<div class="delivery-block__item__price">'+ el.price +'</div>' +'</div>';
    } else {
    htmla += '<div class="delivery-block__container__price">' + '<div class="delivery-block__item__name">' + el.name +'</div>' + '<div class="delivery-block__item__price">' + el.price + '</div>' + '</div>';
    };
  });
  if (el.info != null){
    htmla += '<div class="delivery-block__container__inform">' + el.info + '</div>';
  };
    
  
  $(htmla).appendTo('.content');  
  deliveryLoader.classList.remove("delivery-loader");
  deliveryLoader.classList.add("delivery-loader__none");
  });
  });
  </script>